.heading {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url(https://media-exp1.licdn.com/dms/image/C4E22AQHZQM3p0aAOsw/feedshare-shrink_2048_1536/0?e=1588204800&v=beta&t=nTL5uMyAJHEHQkKRwsCTiSSoqLNhS7PQ8DNHkv38JOk);
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
#my_photo{
    width: 800px; 
    height: 500px;"
    position: right;
    content: ;;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    text-emphasis-color: # ffffff;
}