.Everything{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Everything li{
    list-style-type: square;
}
.heading {    
    text-align:center;
    background-image: url(https://media-exp1.licdn.com/dms/image/C4E22AQHZQM3p0aAOsw/feedshare-shrink_2048_1536/0?e=1588204800&v=beta&t=nTL5uMyAJHEHQkKRwsCTiSSoqLNhS7PQ8DNHkv38JOk);
    max-width: 100;
    height: 600px ;
    padding: 75px;
    color:white;
    margin: 10px;
}
.navbar{
    position: fixed;    
    width: 100%;
    top: 0;
    background-color:rgba(24, 10, 85, 0.75);
}
.navbar li{
    display: inline-block;
    padding: 20px;
    text-transform: uppercase;        
    position: relative;
}
.navbar a{
    text-decoration: none;
    color: rgb(6, 17, 17);
}
.Experience{        
    margin: 10px; 
    line-height: 30px;         
}
.Skills{         
    margin: 10px;
}
.Education{    
    margin: 10px;
}
.footer{        
    font-weight: bold;
    margin-bottom: 10px;        
}
.footer li{
    display: inline-block;
}
h2{    
    text-transform: capitalize;
    font-size: 50px; 
      
}
#my_photo{
    width: 600px; 
    height: 400px;      
    position: relative;
    border-radius: 70%;        
}
#aboutme {
    margin-top: 10px;
    font-size: 20px;
    font-style: italic;
    line-height: 50px;
}
h3 {        
    font-size: 20px;
}
.navbar a:hover{
    color: blue;
}
.navbar a::before{    
    background-color: rgb(13, 13, 14);
    height: 5px;
    width: 0%;
    top: 5px;    
    display: block;
    position: absolute;
    transition: all ease-in-out 250ms;
}
.navbar a:hover::before{
    width: 100%;
}